.heroBanner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
  margin-top: 192px;
  @media (max-width: 1024px) {
    margin-top: 140px;
  }
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  
  .content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;

  }

  .title {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    
    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
    line-height: 1.6;
  }
}
.partners{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  .title {
    position: relative;
    bottom: -10px;
    z-index: 1;
    padding: 10px 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.4);

    h3 {
      color: black;
      text-align: center;
      font-weight: 400;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }
  }
  .list {
    position: relative;
    z-index: 2;
    width: 80vw; // 80% от ширины страницы (баннера)
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    padding: 16px 0;
    border-radius: 4px;
    background-color: #D5D5D5;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.4);

    .marqueeTrack {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      padding: 0 32px;
      animation: marquee-scroll 25s linear infinite;
      will-change: transform;
    }
    .partner {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.primaryButton {
  padding: 10px 24px;
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    transform: translateY(-2px);
  }
}


.image {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    order: -1;
  }
} 